<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean class="com.alibaba.druid.pool.DruidDataSource" id="ds">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/gtx?characterEncoding=UTF-8" />
        <property name="username" value="root"/>
        <property name="password" value="root"/>
    </bean>

    <bean class="org.mybatis.spring.SqlSessionFactoryBean" id="sqlSessionFactory">

        <property name="dataSource" ref="ds"/>
        <property name="typeAliasesPackage" value="gutian.wudi.cmfz.entity"/>
        <property name="mapperLocations">
            <list>
                <value>classpath:gutian/wudi/cmfz/mapper/*Mapper.xml</value>
            </list>
        </property>
    </bean>

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
        <property name="basePackage" value="gutian.wudi.cmfz.dao"/>
    </bean>

    <bean class="org.springframework.jdbc.datasource.DataSourceTransactionManager" id="transactionManager">
        <property name="dataSource" ref="ds"/>
    </bean>
    <tx:annotation-driven transaction-manager="transactionManager"/>
    <!--注解扫描仪-->

    <context:component-scan base-package="gutian.wudi.cmfz"/>

    <!--表示使用aspectJ风格的注解-->
    <aop:aspectj-autoproxy></aop:aspectj-autoproxy>


    <!--注册额外功能类-->
    <bean id="myAdvice" class="gutian.wudi.cmfz.utils.MyAdvice"></bean>
</beans>